**/.vs
*.tlog
*.obj
*.log
*.pdb
*.idb
*.lastbuildstate
*.exp
*.FileListAbsolute.txt
openssl/configdata.pm
openssl/makefile
openssl/crypto/aes/aesni-x86.asm
openssl/crypto/aes/vpaes-x86.asm
openssl/crypto/bf/bf-586.asm
openssl/crypto/bn/bn-586.asm
openssl/crypto/bn/co-586.asm
openssl/crypto/bn/x86-gf2m.asm
openssl/crypto/bn/x86-mont.asm
openssl/crypto/camellia/cmll-x86.asm
openssl/crypto/chacha/chacha-x86.asm
openssl/crypto/des/crypt586.asm
openssl/crypto/des/des-586.asm
openssl/crypto/ec/ecp_nistz256-x86.asm
openssl/crypto/md5/md5-586.asm
openssl/crypto/modes/ghash-x86.asm
openssl/crypto/poly1305/poly1305-x86.asm
openssl/crypto/rc4/rc4-586.asm
openssl/crypto/ripemd/rmd-586.asm
openssl/crypto/sha/sha1-586.asm
openssl/crypto/sha/sha256-586.asm
openssl/crypto/sha/sha512-586.asm
openssl/crypto/whrlpool/wp-mmx.asm
openssl/crypto/x86cpuid.asm
openssl/engines/e_padlock-x86.asm
openssl/tools/c_rehash.pl
openssl/apps/CA.pl
openssl/apps/openssl.rc
openssl/apps/openssl.res
openssl/apps/progs.h
openssl/apps/tsget.pl
openssl/crypto/buildinf.h
openssl/engines/capi.ilk
openssl/engines/dasync.ilk
openssl/engines/ossltest.ilk
openssl/engines/padlock.ilk
openssl/include/crypto/bn_conf.h
openssl/include/crypto/dso_conf.h
openssl/include/openssl/opensslconf.h
openssl/libcrypto-1_1.ilk
openssl/libcrypto.def
openssl/libcrypto.rc
openssl/libcrypto.res
openssl/libssl-1_1.ilk
openssl/libssl.def
openssl/libssl.rc
openssl/libssl.res
